<div class="flex flex-col gap-3">
  <h3
    class="text-sm font-bold text-text-secondary uppercase tracking-widest mb-2 flex justify-between items-center"
  >
    <span>Cours ajoutés</span>
    <span class="bg-surface px-2 py-1 rounded-md text-xs border border-border">2</span>
  </h3>
  <app-course-item></app-course-item>
  <app-course-item></app-course-item>
  <div class="text-center py-10 border border-border/30 rounded-2xl bg-surface/30 hidden">
    <p class="italic">Aucun cours ajouté pour le moment.</p>
  </div>
</div>
